@import '../../sass/animations';
@import '../../sass/themes';

@each $name, $theme in $themes {
  .parallax-#{$name} {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    color: map-get($theme, primary-fg);
    background-color: map-get($theme, primary-bg);
    transition: 1s background-color;

    .parallax-header-#{$name} {
      z-index: -1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;

      .parallax-image-#{$name} {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      
    }

    .parallax-section-#{$name} {
      position: absolute;
      display: flex;
      height: 100vw;
      font-size: 2rem;
      padding: 2rem;
      color: map-get($theme, primary-fg);
    }
  }
}