@import "./animations";
@import "./themes";

@each $name, $theme in $themes {
  .auto-scroller-#{$name} {
    font-family: 'Orbitron', sans-serif;
    font-size: var(--app-font-size-lg);
    opacity:  0;

    @media(max-width: 1365px){
      font-size: var(--app-font-size-med);
    }

    @media(max-width: 1024px){
      font-size: var(--app-font-size-sm);
    }

  }    
}