@import './animations';
@import './themes';

@each $name, $theme in $themes {
  .theme-picker-#{$name} {
    display: flex;
    flex-flow: row now;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 100px;
    right: 0px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: map-get($theme, secondary-fg);
    background-color: map-get($theme, secondary-bg);
    box-shadow: 0 0 10px map-get($theme, secondary-bg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 1s;

    &:hover {
      cursor: pointer;
      color: map-get($theme, primary-fg);
      background-color: map-get($theme, primary-bg);
      box-shadow: 0 0 10px map-get($theme, secondary-bg);
      transition-property: background-color, color, box-shadow;
      transition-duration: 1s;
    }

    @media(max-width: 1024px) {
      top: 100px;
      font-size: 25px;
      width: 45px;
      height: 45px;
      transition: 1s top;
    }

    @media(max-width: 512px) {
      top: 20px;
      font-size: 20px;
      width: 40px;
      height: 40px;
      transition: 1s top;
    }
  }

  .menu-#{$name} {
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: map-get($theme, primary-bg);
    transition-property: background-color;
    transition-duration: 1s;
  }

  .menu-item-#{$name} {
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    padding: 16px;
    margin-right: 16px;

    &:hover {
      cursor: pointer;

      svg {
        user-select: none;
        color: map-get($theme, secondary-fg);
      }

      a {
        user-select: none;
        color: map-get($theme, secondary-fg);
      }

      i {
        pointer-events: none;
        border-radius: 5px;
        width: 100%;
        opacity: 1.0;
        background-color: map-get($theme, primary-fg);
        transition-property: width, border-radius, opacity;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }

    @media(max-width: 1536px) {
      padding: 14px;
      margin-right: 14px;
      font-size: 14px;
    }

    @media(max-width: 1024px) {
      padding: 12px;
      font-size: 12px;
      margin-right: 12px;
    }

    @media(max-width: 512px) {
      padding: 0;
      margin: 0;
      font-size: 0;
    }

    svg {
      user-select: none;
      color: map-get($theme, primary-fg);
      background-color: transparent;
      margin-right: 5px;
    }

    a {
      user-select: none;
      color: map-get($theme, primary-fg);
      background-color: transparent;
      text-decoration: none;
    }

    i {
      user-select: none;
      border-radius: 50px;
      z-index: -1;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0%;
      height: 100%;
      opacity: 0;
      background: linear-gradient(to bottom, map-get($theme, primary-fg), map-get($theme, secondary-bg));
      transition-property: width, border-radius, opacity;
      transition-duration: 1s;
    }

    span {
      user-select: none;
      border-radius: 5px;
      z-index: -1;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      color: map-get($theme, primary-fg) !important;
      background: linear-gradient(to bottom, map-get($theme, primary-fg), map-get($theme, secondary-bg));
    }
  }

  .side-bar-#{$name} {
    z-index: 2;
    position: absolute;
    top: 25px;
    left: -45px;
    height: auto;
    width: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    transition-property: left;
    transition-duration: 1s;

    @media(max-width: 512px) {
      left: 0px;
      transition-property: left;
      transition-duration: 1s;
    }

    &:hover {
      .side-bar-menu-#{$name} {
        cursor: pointer;
        color: map-get($theme, primary-fg);
        background-color: map-get($theme, primary-bg);
        box-shadow: 0 0 10px map-get($theme, secondary-bg);
        transition-property: background-color, color, box-shadow;
        transition-duration: 1s;
      }
    }

    .side-bar-menu-#{$name} {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      width: 40px;
      height: 40px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: map-get($theme, secondary-fg);
      background-color: map-get($theme, secondary-bg);
      box-shadow: 0 0 10px map-get($theme, secondary-bg);
      margin-bottom: 10px;
    }
  }

  .side-bar-buttons-#{$name} {
    z-index: 2;
    position: absolute;
    top: 75px;
    left: -50px;
    height: auto;
    width: 40px;
    transition-property: left;
    transition-duration: 1s;

    .side-bar-button-#{$name} {
      &:nth-child(1) {
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }

  .side-bar-buttons-expanded-#{$name} {
    z-index: 2;
    position: absolute;
    top: 75px;
    left: 0px;
    height: auto;
    width: 40px;
    transition-property: left;
    transition-duration: 1s;

    .side-bar-button-#{$name} {
      &:nth-child(1) {
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 5px;
      }
    }
  }

  .side-bar-button-#{$name} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: map-get($theme, secondary-bg);
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
      color: map-get($theme, primary-fg);
      background-color: map-get($theme, primary-bg);
      box-shadow: 0 0 10px map-get($theme, secondary-bg);
      transition-property: background-color, color, box-shadow;
      transition-duration: 1s;

      .side-bar-button-icon-#{$name} {
        color: map-get($theme, primary-fg);
      }
    }

    .side-bar-button-icon-#{$name} {
      color: map-get($theme, secondary-fg);
    }

    .side-bar-button-tooltip-#{$name} {
      display: none;
    }
  }

  .content-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: map-get($theme, primary-fg);
    background-color: map-get($theme, primary-bg);
    width: 100vw;
    height: 100vh;
    transition: 1s background-color, color
  }
}