@import "./animations";
@import "./scroller";
@import "./themes";

@each $name, $theme in $themes {
  .contact-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 90vh;
    min-height: 60vh;
    box-shadow: -1px -1px 5px darken(map-get($theme, tile-bg), 25%);
    padding: 25px;
    margin: 25px;
    background-color: map-get($theme, tile-bg);

    .contact-header-#{$name} {
      font-size: calc(var(--app-font-size-lg) + 10px);
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      padding: 10px;

      @media(max-width: 1365px) {
        font-size: calc(var(--app-font-size-med) + 10px);
        padding: 8px;
      }

      @media(max-width: 1024px) {
        font-size: calc(var(--app-font-size-sm) + 10px);
        padding: 6px;
      }

      @media(max-width: 768px) {
        font-size: calc(var(--app-font-size-sm) + 8px);
        padding: 4px;
      }

      @media(max-width: 512px) {
        font-size: calc(var(--app-font-size-sm) + 6px);
        padding: 2px;
      }

    }

    .contact-content-#{$name} {
      padding: 10px;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: calc(100% - 20px);

      .contact-item-#{$name} {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        list-style: none;
        height: 50px;

        &:hover {
          cursor: pointer;

          .contact-link-#{$name} {
            text-shadow: 0 0 10px map-get($theme, primary-link-hover);
          }

          .contact-tooltip-#{$name} {
            opacity: 1;
            transition: 1s opacity;
          }
        }

        .contact-icon-#{$name} {
          font-size: var(--app-font-size-lg);

          @media(max-width: 1365px) {
            font-size: var(--app-font-size-med);
          }

          @media(max-width: 1024px) {
            font-size: var(--app-font-size-sm);
          }
        }

        .contact-link-#{$name} {
          padding-left: 20px;
          text-decoration: none;
          color: map-get($theme, primary-fg);
        }

        .contact-tooltip-#{$name} {
          margin-left: 5px;
          padding: 5px;
          border-radius: 5px;
          color: map-get($theme, tooltip-fg);
          background-color: map-get($theme, tooltip-bg);
          box-shadow: 0 0 10px map-get($theme, primary-fg);
          opacity: 0;
          transition: 1s opacity;
        }
      }
    }

    .contact-image-#{$name} {
      margin-top: 10px;
      width: 50vh;
      height: 50vh;
      img {
        width: 450px;
        height: 450px;
        border-radius: 5px;
        border: solid 2pt map-get($theme, secondary-fg);
        transition-property: width, height;
        transition-duration: 1s;
        @media(max-height: 768px) {
          height: 250px;
        }
        @media(max-width: 1365px){
          width: 300px;
          height: 300px;
          transition-property: width, height;
          transition-duration: 1s;
        }

        @media(max-width: 1024px){
          width: 200px;
          height: 200px;
          transition-property: width, height;
          transition-duration: 1s;
        }

      }
    }

  }
}