@import "./animations";
@import "./scroller";
@import "./themes";

@each $name, $theme in $themes {
  .experience-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    min-height: 170vh;
    border: dashed 2pt green;
  }
}