@import "./animations";
@import "./themes";

@each $name, $theme in $themes {
  /* progress bar settings */
  $progress-bar-height: 25px;
  $progress-bar-width: 100%;

  .progress-#{$name} {
    width: $progress-bar-width;
    .progress-title-#{$name} {
      font-family: 'Roboto', sans-serif;
      letter-spacing:  5px;
      text-transform: uppercase;
      width: $progress-bar-width;
      margin-bottom: 10px;
    }

    .progress-bar-#{$name} {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      border: solid 1pt map-get($theme, percent-border);
      height: $progress-bar-height;
      background-color: map-get($theme, percent-bg);
      
      .progress-bar-percent-#{$name} {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: $progress-bar-height;
        background-color: map-get($theme, percent-fill);
      }

      .progress-bar-title-#{$name} {
        font-family: 'Orbitron', sans-serif;
        text-transform: uppercase;
        font-size: calc(var(--app-font-size-sm) - 4px);
        color: map-get($theme, percent-fg);
      }

    }

  }
}