@import "./animations";
@import "./scroller";
@import "./themes";

@each $name, $theme in $themes {
  .skills-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: white;
    margin: 25px;
    padding: 25px;
    box-shadow: 0 0 10px map-get($theme, secondary-fg);
 }
}