@import "./animations";
@import "./scroller";
@import "./themes";

@each $name, $theme in $themes {
  .skills-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    h2 {
      margin-top: 50px;
      font-family: 'Comfortaa', sans-serif;
      text-shadow: 0 0 10px map-get($theme, secondary-fg);
    }

    ul {
      padding: 20px;

      li {
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        list-style: none;
        box-shadow: 0 0 10px map-get($theme, primary-fg);
        color: map-get($theme, primary-button-fg);
        background: map-get($theme, primary-button-bg);
      }
    }
  }
}