@import "./animations";
@import "./scroller";
@import "./themes";

@each $name, $theme in $themes {
  .skills-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    border: dashed 2pt purple;
 }
}