@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  font-family: 'Orbitron', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$themes: (
  light: (
    primary-fg: #2196f3,
    primary-bg: #f1f1f1,
    primary-hover-fg: white,
    primary-hover-bg: linear-gradient(to bottom, rgb(255, 187, 0), rgb(255, 81, 0)),
    secondary-fg: #f1f1f1,
    secondary-bg: #1769aa,
    secondary-hover-fg: white,
    sercondary-hover-bg: linear-gradient(to bottom, #2196f3, #1769aa),
  ),
  dark: (
    primary-fg: #C0C0C0,
    primary-bg: #222222,
    primary-hover-fg: white,
    primary-hover-bg: linear-gradient(to bottom, rgb(143, 1, 156), rgb(51, 0, 56)),
    secondary-fg: #333333,
    secondary-bg: #FFFFFF,
    secondary-hover-fg: white,
    sercondary-hover-bg: linear-gradient(to bottom, #333333, #7a7a7a),
  )
);

