@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  font-family: 'Orbitron', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$themes: (
  light: (primary-fg: #00c0e2,
    primary-bg: #ffffff,
    primary-hover-fg: white,
    primary-hover-bg: linear-gradient(to bottom, orange, orangered),
    secondary-fg: #555555,
    secondary-bg: #CFCFCF,
    secondary-hover-fg: white,
    sercondary-hover-bg: linear-gradient(to bottom, #336699, #114477),
  ),
  dark: (primary-fg: #C0C0C0,
    primary-bg: #222222,
    primary-hover-fg: white,
    primary-hover-bg: linear-gradient(to bottom, #C0C0C0, #333333),
    secondary-fg: #333333,
    secondary-bg: #FFFFFF,
    secondary-hover-fg: white,
    sercondary-hover-bg: linear-gradient(to bottom, #333333, #555555),
  )
);