@import './animations';
@import './themes';

@each $name, $theme in $themes {

  .view-#{$name} {
    z-index: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -467px;
    left: -960px;
    right: 0px;
    bottom: 0px;
    width: 100dvw;
    height: 100dvh;
    color: map-get($theme, primary-fg);
    display: flex;
    flex-flow: center;
    justify-content: center;
    align-items: center;
  }
}