@import "./animations";
@import "./themes";

@each $name, $theme in $themes {
  .view-#{$name} {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    color: map-get($theme, primary-fg);
    background-color: map-get($theme, primary-bg);
    transition: 1s background-color, color;
  }
}