@import "../../sass/animations";
@import "../../sass/themes";

@each $name, $theme in $themes {
  .home-#{$name} {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: map-get($theme, primary-fg);
    background-color: map-get($theme, primary-bg);
    border: dashed 2pt orange;
    width: 100%;
    height: 100%;
  }
}