@import "../src/sass/animations";
@import "../src/sass/scroller";
@import "../src/sass/themes";


@each $name, $theme in $themes {
  .app-#{$name} {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: map-get($theme, primary-bg);
    transition: 0.5s background-color;

    .app-header-#{$name} {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      height: var(--app-header-height);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }

    .app-content-#{$name} {
      position: absolute;
      top: var(--app-header-height);
      left: 0px;
      right: 0px;
      bottom: var(--app-footer-height);
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
    }

    .app-footer-#{$name} {
      position: fixed;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: var(--app-footer-height);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }
  }
}