@import '../../sass/animations';
@import '../../sass/themes';

@each $name, $theme in $themes {

  .cursor-#{$name} {
    --cursor-size: 25px;
    z-index: 100;
    position: absolute;
    border: solid 2pt map-get($theme, primary-fg);
    border-radius: 50%;
    opacity: 0.25;
    width: var(--cursor-size);
    height: var(--cursor-size);    
    background-color: transparent;
    transform: translate(-50%, -50%);
    transition-property: background-color;
    transition-duration: 1s;
    pointer-events: none;
  }
  
  .cursor-grow-#{$name} {
    background-color: transparent;
  }
  
  .cursor-shrink-#{$name} {
    background-color: map-get($theme, primary-bgc);
  }
  
  .cursor-#{$name}:nth-child(2) {
    width: calc(var(--cursor-size) - 2px);
    height: calc(var(--cursor-size) - 2px);
    border: solid 2pt lighten(map-get($theme, primary-fg), 5%);
    opacity: 0.45;
    transition-property: top, left;
    transition-duration: 100ms;
    pointer-events: none;
  }
  
  .cursor-#{$name}:nth-child(3) {
    width: calc(var(--cursor-size) - 4px);
    height: calc(var(--cursor-size) - 4px);
    border: solid 2pt lighten(map-get($theme, primary-fg), 6%);
    opacity: 0.40;
    transition-property: top, left;
    transition-duration: 150ms;
    pointer-events: none;
  }
  
  .cursor-#{$name}:nth-child(4) {
    width: calc(var(--cursor-size) - 6px);
    height: calc(var(--cursor-size) - 6px);
    border: solid 2pt lighten(map-get($theme, primary-fg), 7%);
    opacity: 0.35;
    transition-property: top, left;
    transition-duration: 200ms;
    pointer-events: none;
  }
  
  .cursor-#{$name}:nth-child(5) {
    width: calc(var(--cursor-size) - 8px);
    height: calc(var(--cursor-size) - 8px);
    border: solid 2pt lighten(map-get($theme, primary-fg), 8%);
    opacity: 0.30;
    transition-property: top, left;
    transition-duration: 250ms;
    pointer-events: none;
  }
  
  .cursor-#{$name}:nth-child(6) {
    width: calc(var(--cursor-size) - 10px);
    height: calc(var(--cursor-size) - 10px);
    border: solid 2pt lighten(map-get($theme, primary-fg), 9%);
    opacity: 0.25;
    transition-property: top, left;
    transition-duration: 300ms;
    pointer-events: none;
  }

  .cursor-#{$name}:nth-child(7) {
    width: calc(var(--cursor-size) - 10px);
    height: calc(var(--cursor-size) - 10px);
    border: solid 2pt lighten(map-get($theme, primary-fg), 10%);
    opacity: 0.25;
    transition-property: top, left;
    transition-duration: 350ms;
    pointer-events: none;
  }

}
